.counter-block {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  margin: 50px;
}

.btn {
  display: inline-block;
  font-size: 16px;
  background-color: darkblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-right: 15px;
}

.btn:hover {
  background-color: #000066;
  cursor: pointer;
}

.btn:active {
  background-color: #00002e;
  cursor: pointer;
}

.top-menu {
  background: #1976d2;
  padding: 2px 15px;
}

.logo {
max-height: 55px;
}

.courses {
  max-width: 400px;
  margin: 50px auto;
}

course-card:hover {  
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
}